*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to right, blue, blueviolet);
}
form{
    width: 400px;
    height: 750px;
    background-color: aliceblue;
    margin: 32px auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px;
    border-radius: 16px;
    font-weight: 600;
    color: rgb(63, 61, 61);
}
.logo{
    margin: 16px auto 0;
}

.logo img{
    width: 100px;
    height: 100px;
    clip-path: circle();
}
form h2{
    text-align: center;
    margin-bottom: 8px;
}
form span{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
input{
    height: 40px;
    border-radius: 8px;
    border: 1px solid gray;
    padding-left: 10px;
}
input:focus{
    border: 1px solid blue;
}
button{
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: blue;
    color: whitesmoke;
    font-weight: 700;
}
button:hover{
    background-color: rgb(39, 39, 238);
}
span p{
    display: flex;
    align-items: center;
    gap: 4px;
}
@media screen and (max-width: 410px){
    form{
        width: 95%;
    }
}